body {
  background-color: #DADADA;
  padding-top: 70px;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
.cbox {
  margin: .6em;
}
.ahref {
  font-size: 14px;
}
.ui.form .error.message, .ui.form .success.message, .ui.form .warning.message {
  /*display: block!important;*/
}